.modalStyle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 10px;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    border-style: hidden;
}

@media (prefers-color-scheme: dark) {
    .modalStyle {
        background-color: #333;
        color: white;
        border: 1px solid #555;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
}

.modalHeader {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: cadetblue;
    color: white;
    width: calc(100% + 20px); /* Extend beyond the padding of the modal */
    margin-left: -10px; /* Adjust for left padding */
    margin-right: -10px; /* Adjust for right padding */
    margin-top: -10px; /* Adjust for top padding */
    padding-left: 10px; /* Add padding to match the modal */
    padding-right: 10px; /* Add padding to match the modal */
    padding-top: 10px; /* Add padding to match the modal */
    border-radius: 8px 8px 0 0; /* Round the top corners */
}

.modalHeader button {
    cursor: pointer;
    padding: 10px;
    flex: 1; /* Ensure each tab takes equal space */
    text-align: center; /* Center the text within each tab */
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    color: inherit; /* Inherit text color from parent */
    width: calc(100% + 20px); /* Extend beyond the padding of the modal */
    margin-top: -10px; /* Adjust for top padding */
    padding-left: 10px; /* Add padding to match the modal */
    padding-right: 10px; /* Add padding to match the modal */
    padding-top: 10px; /* Add padding to match the modal */
}

.loginButton {
    margin-left: -10px; /* Adjust for left padding */
}

.signupButton {
    margin-right: -10px; /* Adjust for right padding */
}

.loginButton.active {
    border-radius: 8px 0 0 0; /* Round the top-left corner */
}

.signupButton.active {
    border-radius: 0 8px 0 0; /* Round the top-right corner */
}

.modalHeader .active {
    font-weight: bold;
    background-color: #86b5b7; /* Lighter shade of cadetblue */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#email {
    padding-left: 40px;
    background-image: url('../../../icons/email-9-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
}

#password {
    padding-left: 40px;
    background-image: url('../../../icons/lock-password-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
}

#confirmPassword {
    padding-left: 40px;
    background-image: url('../../../icons/lock-password-unlocked-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
}

#name, #surname {
    padding-left: 40px;
    background-image: url('../../../icons/user-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 10px center;
}

.submitButton {
    background-color: #86b5b7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    height: 90%;
}

.submitButton:hover {
    background-color: cadetblue;
}

.submitForgotContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* Add some margin if needed */
}

.forgotPasswordLink {
    color: #007bff; /* Example color */
    text-decoration: none; /* Remove underline */
    font-size: 14px; /* Example font size */
}

.forgotPasswordLink:hover {
    text-decoration: underline; /* Add underline on hover */
}

.error {
    color: red;
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-color: red;
    border-radius: 5px;
}
.navbar {
    background-color: transparent; /* Ensure the navbar background is transparent */
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    width: 100%; /* Ensure the navbar spans the full width */
    position: absolute; /* Position the navbar absolutely */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar-item a,
.navbar-item button {
    color: white; /* Adjust color to match the page style */
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Add pointer cursor for buttons */
}

.navbar-item a:hover,
.navbar-item button:hover {
    text-decoration: underline;
}